<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>

</head>

    <div class="container mt-5">
        <div class="card shadow-lg p-4 text-center">
            <h2 class="text-success">Success!</h2>
            <p>{{message}}</p>
            <a href="/attendance" class="btn btn-primary mt-3">Back to Attendance</a>
        </div>
    </div>

</html>
